In [3]:
# IMPORTAR LIBRERIAS
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

import sklearn
from sklearn.preprocessing import StandardScaler


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

%matplotlib inline

In [4]:
# IMPORTAMOS CSV
df = pd.read_csv('dataset/globalterrorismdb_modified.csv')

# DATOS DEL DF
print(df.shape)
print(' ')
print(df.dtypes)

(181691, 16)

Unnamed: 0      int64
eventid         int64
country        object
region         object
provstate      object
city           object
latitude      float64
longitude     float64
success         int64
gname          object
year            int64
month           int64
day             int64
attacktype     object
targtype       object
weaptype       object
dtype: object

In [5]:
# OBTENER VALORES UNICOS DE LAS COLUMNAS TIPO Object
for column in df:
    if df[column].dtypes == 'object':
        print("{} = {}".format(column,df[column].nunique()))

country = 205
region = 12
provstate = 2855
city = 36674
gname = 3537
attacktype = 9
targtype = 22
weaptype = 12

In [6]:
# ELIMINAMOS COLUMNAS CON DEMASIADOS VALORES UNICOS
# O QUE NO NOS SIRVEN PARA LA PREDICCION
df = df.drop(['country', 'provstate', 'city', 'gname', 'targtype', 'attacktype', 'weaptype'],axis=1)
df.dtypes

Unnamed: 0      int64
eventid         int64
region         object
latitude      float64
longitude     float64
success         int64
year            int64
month           int64
day             int64
dtype: object

In [7]:
# OBTENER VALORES UNICOS DE LAS COLUMNAS TIPO Object
for column in df:
    if df[column].dtypes == 'object':
        print("{} = {}".format(column,df[column].nunique()))

region = 12

In [8]:
# COMPROBAMOS SI HAY VALORES TIPO OBJECT
df.dtypes

Unnamed: 0      int64
eventid         int64
region         object
latitude      float64
longitude     float64
success         int64
year            int64
month           int64
day             int64
dtype: object

In [9]:
# QUITAMOS LOS VALORES OBJECT Y LOS PASAMOS A NUMERICOS
df_numerical = pd.get_dummies(df)

df_final = df_numerical.dropna(axis=0)
df_final.head()

,Unnamed: 0,eventid,latitude,longitude,success,year,month,day,region_Australasia & Oceania,region_Central America & Caribbean,region_Central Asia,region_East Asia,region_Eastern Europe,region_Middle East & North Africa,region_North America,region_South America,region_South Asia,region_Southeast Asia,region_Sub-Saharan Africa,region_Western Europe
0,0,197000000001,18.456792,-69.951164,1,1970,7,2,0,1,0,0,0,0,0,0,0,0,0,0
1,1,197000000002,19.371887,-99.086624,1,1970,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,2,197001000001,15.478598,120.599741,1,1970,1,0,0,0,0,0,0,0,0,0,0,1,0,0
3,3,197001000002,37.997490,23.762728,1,1970,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,4,197001000003,33.580412,130.396361,1,1970,1,0,0,0,0,1,0,0,0,0,0,0,0,0

In [10]:
# IGUALAR LOS VALORES DE TODAS LAS COLUMNAS
scaler = StandardScaler()
scaler.fit(df_final)
scaler.transform(df_final)

array([[-1.75455584, -2.49636124, -0.27150622, ..., -0.26891932,
        -0.3259403 , -0.32030365],
       [-1.75453674, -2.49636124, -0.22222594, ..., -0.26891932,
        -0.3259403 , -0.32030365],
       [-1.75451765, -2.4956043 , -0.43188981, ...,  3.71858739,
        -0.3259403 , -0.32030365],
       ...,
       [ 1.714838  ,  1.07060155, -0.89382994, ...,  3.71858739,
        -0.3259403 , -0.32030365],
       [ 1.71485709,  1.07060155,  0.07000317, ..., -0.26891932,
        -0.3259403 , -0.32030365],
       [ 1.71487619,  1.07060155, -0.87719745, ...,  3.71858739,
        -0.3259403 , -0.32030365]])

In [11]:
# ENTRENAR MODELO :D

X = df_final.drop('year', axis=1)
y = df_final['year']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
regressor = RandomForestRegressor()

regressor.fit(X_train, y_train)
regressor.score(X_test, y_test)

/usr/local/lib/python3.5/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.99999856543391