# LIBRERIAS

In [1]:
# IMPORTAR LIBRERIAS
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import pprint

import sklearn
from sklearn.preprocessing import StandardScaler


from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

from sklearn.ensemble import RandomForestClassifier



%matplotlib inline

# PREPARAR DATAFRAME

In [2]:
# IMPORTAMOS CSV
df = pd.read_csv('dataset/globalterrorismdb_modified.csv')


# CREAR DATAFRAME DE LOCALIZACIONES PARA UN FUTURO
cities = df.drop(['Unnamed: 0', 'eventid', 'provstate', 'success', 
                  'gname', 'year', 'month', 'day', 'attacktype', 
                  'targtype', 'weaptype'],axis=1)
# DATOS DEL DF
print(df.shape)
print(' ')
print(df.dtypes)

(181691, 16)

Unnamed: 0      int64
eventid         int64
country        object
region         object
provstate      object
city           object
latitude      float64
longitude     float64
success         int64
gname          object
year            int64
month           int64
day             int64
attacktype     object
targtype       object
weaptype       object
dtype: object

In [3]:
df['success'].unique()

array([1, 0])

In [4]:
# OBTENER VALORES UNICOS DE LAS COLUMNAS TIPO Object
for column in df:
    if df[column].dtypes == 'object':
        print("{} = {}".format(column,df[column].nunique()))

country = 205
region = 12
provstate = 2855
city = 36674
gname = 3537
attacktype = 9
targtype = 22
weaptype = 12

In [5]:
# ELIMINAMOS COLUMNAS CON DEMASIADOS VALORES UNICOS
# O QUE NO NOS SIRVEN PARA LA PREDICCION
df = df.drop(['eventid', 'country', 'provstate', 'city', 'gname', 'targtype', 'attacktype', 'weaptype'],axis=1)
df.dtypes

Unnamed: 0      int64
region         object
latitude      float64
longitude     float64
success         int64
year            int64
month           int64
day             int64
dtype: object

In [6]:
# OBTENER VALORES UNICOS DE LAS COLUMNAS TIPO Object
for column in df:
    if df[column].dtypes == 'object':
        print("{} = {}".format(column,df[column].nunique()))

region = 12

In [7]:
# COMPROBAMOS SI HAY VALORES TIPO OBJECT
df.dtypes

Unnamed: 0      int64
region         object
latitude      float64
longitude     float64
success         int64
year            int64
month           int64
day             int64
dtype: object

In [8]:
# QUITAMOS LOS VALORES OBJECT Y LOS PASAMOS A NUMERICOS
df_numerical = pd.get_dummies(df)

df_final = df_numerical.dropna(axis=0)
df_final.head()

,Unnamed: 0,latitude,longitude,success,year,month,day,region_Australasia & Oceania,region_Central America & Caribbean,region_Central Asia,region_East Asia,region_Eastern Europe,region_Middle East & North Africa,region_North America,region_South America,region_South Asia,region_Southeast Asia,region_Sub-Saharan Africa,region_Western Europe
0,0,18.456792,-69.951164,1,1970,7,2,0,1,0,0,0,0,0,0,0,0,0,0
1,1,19.371887,-99.086624,1,1970,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,2,15.478598,120.599741,1,1970,1,0,0,0,0,0,0,0,0,0,0,1,0,0
3,3,37.997490,23.762728,1,1970,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,4,33.580412,130.396361,1,1970,1,0,0,0,0,1,0,0,0,0,0,0,0,0

In [9]:
# IGUALAR LOS VALORES DE TODAS LAS COLUMNAS
scaler = StandardScaler()
scaler.fit(df_final)
scaler.transform(df_final)

array([[-1.75455584e+00, -2.71506216e-01,  1.89836657e-03, ...,
        -2.68919322e-01, -3.25940302e-01, -3.20303649e-01],
       [-1.75453674e+00, -2.22225941e-01,  1.75608858e-03, ...,
        -2.68919322e-01, -3.25940302e-01, -3.20303649e-01],
       [-1.75451765e+00, -4.31889806e-01,  2.82888900e-03, ...,
         3.71858739e+00, -3.25940302e-01, -3.20303649e-01],
       ...,
       [ 1.71483800e+00, -8.93829940e-01,  2.84763203e-03, ...,
         3.71858739e+00, -3.25940302e-01, -3.20303649e-01],
       [ 1.71485709e+00,  7.00031658e-02,  2.69870286e-03, ...,
        -2.68919322e-01, -3.25940302e-01, -3.20303649e-01],
       [ 1.71487619e+00, -8.77197446e-01,  2.84667518e-03, ...,
         3.71858739e+00, -3.25940302e-01, -3.20303649e-01]])

# ENTRENAR MODELO

In [10]:
# SEPARAR MODELO EN 4 (2  de entrenar y 2 de test)

X = df_final.drop(['success', 'Unnamed: 0'], axis=1)
# X = df_final.drop(['year'], axis=1)
y = df_final['success']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [11]:
X.head()

,latitude,longitude,year,month,day,region_Australasia & Oceania,region_Central America & Caribbean,region_Central Asia,region_East Asia,region_Eastern Europe,region_Middle East & North Africa,region_North America,region_South America,region_South Asia,region_Southeast Asia,region_Sub-Saharan Africa,region_Western Europe
0,18.456792,-69.951164,1970,7,2,0,1,0,0,0,0,0,0,0,0,0,0
1,19.371887,-99.086624,1970,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,15.478598,120.599741,1970,1,0,0,0,0,0,0,0,0,0,0,1,0,0
3,37.997490,23.762728,1970,1,0,0,0,0,0,0,0,0,0,0,0,0,1
4,33.580412,130.396361,1970,1,0,0,0,0,1,0,0,0,0,0,0,0,0

In [12]:
# RANDOM FOREST

regressor_forest = RandomForestRegressor()

regressor_forest.fit(X_train, y_train)
regressor_forest.score(X_test, y_test)

/usr/local/lib/python3.5/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

-0.01687988690449127

In [13]:
# RANDOM FOREST CLASSIFIER PARA VARIAS COLUMNAS

classifier_forest = RandomForestClassifier()

classifier_forest.fit(X_train, y_train)
classifier_forest.score(X_test, y_test)

/usr/local/lib/python3.5/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8780942605422974

# PROBAR MODELO

In [16]:
# MADRID (-3.7025600, 40.4165000)
# AÑO 2020
# CREAR CSV CON CIUDADES, LONGITUD Y LATITUD

cities.head()

,country,region,city,latitude,longitude
0,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164
1,Mexico,North America,Mexico city,19.371887,-99.086624
2,Philippines,Southeast Asia,Unknown,15.478598,120.599741
3,Greece,Western Europe,Athens,37.997490,23.762728
4,Japan,East Asia,Fukouka,33.580412,130.396361

Input City: Santo Domingo

18.456792

In [35]:
# CREAR CSV PARA PREDECIR

prediction = X.head(1)
prediction

,latitude,longitude,year,month,day,region_Australasia & Oceania,region_Central America & Caribbean,region_Central Asia,region_East Asia,region_Eastern Europe,region_Middle East & North Africa,region_North America,region_South America,region_South Asia,region_Southeast Asia,region_Sub-Saharan Africa,region_Western Europe
0,18.456792,-69.951164,1970,7,2,0,1,0,0,0,0,0,0,0,0,0,0

In [52]:
# INTRODUCIR DATOS DE LUGAR Y FECHA DE POSIBLE FUTURO ATAQUE

import warnings
warnings.filterwarnings('ignore')


city = input('Input City: ')

long = cities.loc[cities['city'] == city.capitalize()]['longitude'].iloc[1]
lat = cities.loc[cities['city'] == city.capitalize()]['latitude'].iloc[1]

year = input('Input Year: ')
month = input('Input Month: ')
day = input('Input Day: ')

if month.lower() == 'enero':
    month = 1
elif month.lower() == 'febrero':
    month = 2
elif month.lower() == 'marzo':
    month = 3
elif month.lower() == 'abril':
    month = 4
elif month.lower() == 'mayo':
    month = 5
elif month.lower() == 'junio':
    month = 6
elif month.lower() == 'julio':
    month = 7
elif month.lower() == 'agosto':
    month = 8
elif month.lower() == 'septiembre':
    month = 9
elif month.lower() == 'octubre':
    month = 10
elif month.lower() == 'noviembre':
    month = 11
elif month.lower() == 'diciembre':
    month = 12

    
    
    
prediction['longitude'] = long
prediction['latitude'] = lat
prediction['year'] = year
prediction['month'] = month
prediction['day'] = day


# PREDECIMOS SI HUBIERA UN ATAQUE SI SERÁ EXITOSO O NO

if classifier_forest.predict(prediction) == 1:
    print('CUIDADO!!')
else:
    print('TRANKI')

Input City: madrid
Input Year: 2020
Input Month: 2
Input Day: 2
CUIDADO!!